Base on the available stock data sources we have, we should create our own data reader in abstract data structure, which means we will hide the data getting process but only takes in command and give out standardized data table.

In [48]:
from enum import Enum
from datetime import datetime, timedelta
import pandas as pd
import time
from IPython.display import clear_output
import tqdm
import requests as re
import json

In [143]:
class get_stock_data():
    
     def __init__(self,tic_list, output="table", **kwargs):
        self.arg_list = {"freq": 'minutes',"start_date": datetime.now()-timedelta(days =256),\
                    "end_date":datetime.now(), "day_range": 256, "file_name":""}
        
        self.tic_list = tic_list
        self.output = output
        self.arg_list["start_date"] 
        
        
        for key , arg in kwargs.iteritems():
            
            if key in ["freq","start_date","end_date"]:
                self.arg_list[key]=arg
            
            if key in ["timeframe"]:
                self.arg_list[key]=arg
                self.arg_list["start_date"] = datetime.now()-timedelta(days =arg)
    
        self.error = []
    
     def data_output(self):
       
        
        if self.output == "table":
            
            return self.result
    
        if self.output == "file":
            self.result.to_csv(self.arg_list["file_name"])
     
        

    
     def get_ondemand_data(self, interval = 1):
            
            self.result = pd.DataFrame()
            
            for i in tqdm.tqdm(range(len(self.tic_list))):
                trial = 0
                i = self.tic_list[i].upper()
                while trial <3:
                    try:
                        api_key = '95b5894daf3abced33fe48e7f265315e'
                        start_date=self.arg_list["start_date"].strftime("%Y%m%d%H%M%S")
                        end_date=self.arg_list["end_date"].strftime("%Y%m%d%H%M%S")
                        # This is the required format for datetimes to access the API

                        api_url = 'http://marketdata.websol.barchart.com/getHistory.csv?' + \
                                                'key={}&symbol={}&type={}&startDate={}&endDate={}&interval={}'\
                                                 .format(api_key, i, self.arg_list["freq"], start_date,end_date,interval)

                        temp = pd.read_csv(api_url, parse_dates=['timestamp'])
                        temp.set_index('timestamp', inplace=True)



                        #index= pd.MultiIndex.from_product([[i],temp.index])
                        #temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)

                        self.result = self.result.append(temp)
                        clear_output()
                        print "Finished", i
                        
                        #time.sleep(5)
                        trial=3

                    except Exception as e:
                        print e
                        print "error occorded in getting data for ", i
                        trial +=1
                        time.sleep(10)
                        if trial == 3:
                            self.error.append([i,'get_ondemand'])
            
            self.result = self.result.reset_index()
            self.result["Close"] = self.result["close"]
            self.result = self.result.rename(columns={'symbol':'Ticker','timestamp':"TimeStamp","high":"High","low":"Low","open":"Open","volume":"Volume"})
            self.result["Return"]=( self.result.Close.diff(1)/self.result.Close)
            
            return self.data_output()
           
     def get_quandl_data(self, interval = 1):
            
            self.result = pd.DataFrame()
            
            for i in tqdm.tqdm(range(len(self.tic_list))):
                trial = 0
                i = self.tic_list[i].upper()
                while trial <3:
                    try:
                        api_key = 'scyebx61MMZzsK4yPcch'
                        start_date=self.arg_list["start_date"].strftime("%Y%m%d%H%M%S")
                        end_date=self.arg_list["end_date"].strftime("%Y%m%d%H%M%S")
                        # This is the required format for datetimes to access the API

                        api_url = "https://www.quandl.com/api/v3/datasets/" +\
                                    "EOD/{}?start_date={}&end_date={}&api_key={}"\
                                                 .format(i,start_date,end_date,api_key)

                        temp  = re.get(api_url,verify=False)
                        

                        temp = temp.text

                        temp = json.loads(temp)

                        temp = pd.DataFrame(temp)

                        temp = pd.DataFrame(temp.loc["data"][0],columns=temp.loc["column_names"][0])

                        temp["Ticker"] =i
                        
                        temp.set_index('Date', inplace=True)
                        
                        self.result = self.result.append(temp)

                        #index= pd.MultiIndex.from_product([[i],temp.index])
                        #temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)

                        clear_output()
                        print "Finished", i
                        
                        #time.sleep(5)
                        trial=3

                    except Exception as e:
                        print e
                        print "error occorded in getting data for ", i
                        trial +=1
                        time.sleep(10)
                        if trial == 3:
                            self.error.append([i,'get_ondemand'])
            self.result = self.result.reset_index()
            self.result = self.result[["Ticker","Date","Adj_High","Adj_Low","Adj_Close","Adj_Open","Adj_Volume"]]
            self.result = self.result.rename(columns={'Date':"TimeStamp","Adj_High":"High","Adj_Low":"Low","Adj_Open":"Open","Adj_Volume":"Volume","Adj_Close":"Close"})
            self.result["Return"]=( self.result.Close.diff(1)/self.result.Close)
            
            return self.data_output()       
            
     def get_quote(self):
        
        self.result = pd.DataFrame()
        
        for i in tqdm.tqdm(range(len(self.tic_list))):
            i = self.tic_list[i].upper()

        profile="https://financialmodelingprep.com/api/company/price/{}".format(i)

        temp = re.get(profile, verify=False).text

        temp=self.result.replace("\n","")

        temp = self.result.replace("<pre>","")

        temp= json.loads(result)

        temp = pd.DataFrame(result).transpose()
        
        self.result = self.result.append(temp)
        
        self.data_output()

In [144]:
my = get_stock_data(["AAPL"],day_range=2)
my.get_quandl_data().head()

Finished AAPL

100%|████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.69it/s]

  Ticker   TimeStamp    High       Low   Close    Open      Volume    Return
0   AAPL  2018-10-22  223.36  218.9400  220.65  219.79  28575108.0       NaN
1   AAPL  2018-10-19  221.26  217.4300  219.31  218.06  33078726.0 -0.006110
2   AAPL  2018-10-18  219.74  213.0000  216.02  217.86  32581315.0 -0.015230
3   AAPL  2018-10-17  222.64  219.3400  221.19  222.30  22885397.0  0.023374
4   AAPL  2018-10-16  222.99  216.7627  222.15  218.93  29183963.0  0.004321

In [141]:
api_key = 'scyebx61MMZzsK4yPcch'
start_date=(datetime.now()-timedelta(days=20)).strftime("%Y%m%d%H%M%S")
end_date=datetime.now().strftime("%Y%m%d%H%M%S")
# This is the required format for datetimes to access the API

api_url = "https://www.quandl.com/api/v3/datasets/" +\
            "EOD/{}?start_date={}&end_date={}&api_key={}"\
                         .format("AAPL",start_date,end_date,api_key)

temp  = re.get(api_url,verify=False)


temp = temp.text

temp = json.loads(temp)

temp = pd.DataFrame(temp)

temp = pd.DataFrame(temp.loc["data"][0],columns=temp.loc["column_names"][0])

In [142]:
temp

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,2018-10-22,219.79,223.36,218.9400,220.65,28575108.0,0.0,1.0,219.79,223.36,218.9400,220.65,28575108.0
1,2018-10-19,218.06,221.26,217.4300,219.31,33078726.0,0.0,1.0,218.06,221.26,217.4300,219.31,33078726.0
2,2018-10-18,217.86,219.74,213.0000,216.02,32581315.0,0.0,1.0,217.86,219.74,213.0000,216.02,32581315.0
3,2018-10-17,222.30,222.64,219.3400,221.19,22885397.0,0.0,1.0,222.30,222.64,219.3400,221.19,22885397.0
4,2018-10-16,218.93,222.99,216.7627,222.15,29183963.0,0.0,1.0,218.93,222.99,216.7627,222.15,29183963.0
5,2018-10-15,221.16,221.83,217.2700,217.36,30791007.0,0.0,1.0,221.16,221.83,217.2700,217.36,30791007.0
6,2018-10-12,220.42,222.88,216.8400,222.11,38647366.0,0.0,1.0,220.42,222.88,216.8400,222.11,38647366.0
7,2018-10-11,214.52,219.50,212.3200,214.45,53124392.0,0.0,1.0,214.52,219.50,212.3200,214.45,53124392.0
8,2018-10-10,225.46,226.35,216.0500,216.36,41990554.0,0.0,1.0,225.46,226.35,216.0500,216.36,41990554.0
9,2018-10-09,223.64,227.27,222.2462,226.87,26891029.0,0.0,1.0,223.64,227.27,222.2462,226.87,26891029.0
10,2018-10-08,222.21,224.80,220.2000,223.77,29663923.0,0.0,1.0,222.21,224.80,220.2000,223.77,29663923.0
11,2018-10-05,227.96,228.41,220.5800,224.29,33580463.0,0.0,1.0,227.96,228.41,220.5800,224.29,33580463.0
12,2018-10-04,230.78,232.35,226.7300,227.99,32042000.0,0.0,1.0,230.78,232.35,226.7300,227.99,32042000.0
13,2018-10-03,230.05,233.47,229.7800,232.07,28654799.0,0.0,1.0,230.05,233.47,229.7800,232.07,28654799.0
14,2018-10-02,227.25,230.00,226.6300,229.28,24788170.0,0.0,1.0,227.25,230.00,226.6300,229.28,24788170.0