In [12]:
import pandas as pd
import pandas_datareader.data as pdr
from enum import Enum
from datetime import datetime, timedelta
import requests as re
import json
import urllib as ur

In [2]:
def get_price_data(tic_list,method,interval = 1, freq = 'minutes',start_date = datetime.now()-timedelta(days =256),end_date=datetime.now()):
    

    error = []
    price = pd.DataFrame()
    if method == "robinhood":
        robinhood = get_robinhood()

        for i in tic_list:
            trial = 0
            while trial <3:
                try:
                    temp = robinhood.get_historical(i,interval="10minute",span = "week")
                    #temp.index = temp.begins_at
                    temp = temp.drop(["session","interpolated"],axis=1)
                    for j in temp.columns[1:]:
                        temp[j] = temp[j].astype(float)
                   # index= pd.MultiIndex.from_product([[i],temp.index])
                    temp["Ticker"] = np.repeat(i,len(temp))
                    price = price.append(temp)

                    print "Finished", i
                    #time.sleep(5)
                    trial=3

                except:
                    print "error occorded in getting yahool historicals for ", i
                    trial +=1
                    time.sleep(10)
                    if trial == 3:
                        error.append([i,'get_yahoo_historicals'])
        # get rid of the multiindex
       # price.to_csv("file/temp.csv")
       # price = pd.read_csv("file/temp.csv")

        price = price.reset_index()
        price["Close"] = price["close_price"]
        price = price.rename(columns={'begins_at':"TimeStamp","high_price":"High","low_price":"Low","open_price":"Open","volume":"Volume"})
        price["Return"]= (price.Close.diff(1)/price.Close)


    elif method == "ondemand":


        #freq = minutes, daily
        save_file_name = "Trade_suggestion_ondemand"
        for i in tic_list:
            trial = 0
            while trial <3:
                try:
                    temp = get_ondemand_data(i, interval = interval , freq = freq,start_date = start_date, end_date = end_date)

                    #index= pd.MultiIndex.from_product([[i],temp.index])
                    #temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)

                    price = price.append(temp)

                    print "Finished", i
                    #time.sleep(5)
                    trial=3

                except:
                    print "error occorded in getting yahool historicals for ", i
                    trial +=1
                    time.sleep(10)
                    if trial == 3:
                        error.append([i,'get_yahoo_historicals'])


        price = price.reset_index()
        price["Close"] = price["close"]
        price = price.rename(columns={'symbol':'Ticker','timestamp':"TimeStamp","high":"High","low":"Low","open":"Open","volume":"Volume"})
        price["Return"]=( price.Close.diff(1)/price.Close)

    elif method == "day":
        save_file_name = "Trade_suggestion_day"
        mongodb = mongo()
        for i in tic_list:
            trial = 0
            while trial <3:
                try:
                    temp = mongodb.query_database(i,start_date=start_date,end_date=end_date)
                    index= pd.MultiIndex.from_product([[i],temp.index])
                    temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)
                    price = price.append(temp)
                    print "Finished", i
                    trial = 3
                except Exception as e:
                    try:
                        print (e)
                        print ("Switching from Mongodb to yahoo")
                        temp = da.DataReader(i,"yahoo",start_date ,end_date)
                        index= pd.MultiIndex.from_product([[i],temp.index])
                        temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)
                        price = price.append(temp)

                        print "Finished", i
                        #time.sleep(5)
                        trial=3


                    except Exception as e:
                        print "error occorded in getting yahool historicals for ", i
                        trial =3
                        trial +=1
                        time.sleep(10)
                    if trial == 3:
                        error.append([i,'get_yahoo_historicals'])
        # get rid of the multiindex
    elif method == "realtimeday":
        save_file_name = "Trade_suggestion_day"
        mongodb = mongo()
        for i in tic_list:
            trial = 0
            while trial <3:
                try:
                    temp = pdr.get_data_yahoo(i,start_date ,end_date)
                    index= pd.MultiIndex.from_product([[i],temp.index])
                    temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)
                    price = price.append(temp)
                    print "Finished", i
                    trial = 3
                except Exception as e:
                    try:
                        print (e)
                        print "Finished", i
                        #time.sleep(5)
                        trial=3
                        print e

                    except Exception as e:
                        print "error occorded in getting yahool historicals for ", i
                        trial =3
                        trial +=1
                        time.sleep(10)
                    if trial == 3:
                        error.append([i,'get_yahoo_historicals'])
        price = price.reset_index()


        price["Close"] = price["Adj Close"]
        price = price.rename(columns={'level_0':'Ticker','level_1':"TimeStamp"})
        price["Return"]= (price.Close.diff(1)/price.Close)
    #price = price.dropna()
    return price

In [37]:

# tic_list,method,interval = 1, freq = 'minutes',start_date = datetime.now()-timedelta(days =256),end_date=datetime.now()

# 1min, 5min, 15min, 30min, 60min

# https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=5min&apikey=demo&datatype=csv

def get_price(tic_list,**kwargs):
    
    api = "R9KJYWUBMIDAXNW7"
    
    if len(kwargs) == 0 :
        start_date = datetime.now()-timedelta(days =256)
        end_date=datetime.now()
        data_interval="_day"
        data_size = "compact"
    
    data_interval = "_"+data_interval
    
    class interval(Enum):
        _1min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=1min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _5min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=5min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _15min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=15min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _30min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=30min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _60min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=60min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _week = " https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={}&apikey&outputsize={}=csv".format(tic_list,data_size,api)
        _month = " https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol={}&apikey={}&outputsize={}&datatype=csv".format(tic_list,data_size,api)
        
    
    if data_interval == "_day":
        
        price = pdr.DataReader(tic_list,"quandl",start,end)
        price = pdr.DataReader("AAPL","quandl")
        price = price.reset_index()
        price = price.drop(["ExDividend","SplitRatio","Open","High","Low","Close","Volume"],axis=1)
        price = price.rename(columns={'AdjOpen':'Open','AdjHigh':"High","AdjLow":"Low","AdjVolume":"Volume","AdjClose":"Close"})
        price["Return"]= (price.Close.diff(1)/price.Close)
        
    else:
    
        price = pd.read_csv(interval[data_interval])
        price = pdr.DataReader("AAPL","quandl")
        price = price.reset_index()
        price = price.drop(["ExDividend","SplitRatio","Open","High","Low","Close","Volume"],axis=1)
        price = price.rename(columns={'AdjOpen':'Open','AdjHigh':"High","AdjLow":"Low","AdjVolume":"Volume","AdjClose":"Close"})
        price["Return"]= (price.Close.diff(1)/price.Close)

SyntaxError: invalid syntax (<ipython-input-37-35d9a03bdd9a>, line 39)

In [46]:
data_interval="_1min"
tic_list = "AAPL"
data_size = "compact"
api = "R9KJYWUBMIDAXNW7"

class interval(Enum):
        _1min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=1min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _5min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=5min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _15min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=15min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _30min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=30min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _60min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=60min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _week = " https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={}&apikey&outputsize={}=csv".format(tic_list,data_size,api)
        _month = " https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol={}&apikey={}&outputsize={}&datatype=csv".format(tic_list,data_size,api)
        
price = pd.read_csv(interval[data_interval].value)
price = price.reset_index()
price = price.drop(["ExDividend","SplitRatio","Open","High","Low","Close","Volume"],axis=1)
price = price.rename(columns={'AdjOpen':'Open','AdjHigh':"High","AdjLow":"Low","AdjVolume":"Volume","AdjClose":"Close"})
price["Return"]= (price.Close.diff(1)/price.Close)

ValueError: labels ['ExDividend' 'SplitRatio' 'Open' 'High' 'Low' 'Close' 'Volume'] not contained in axis

In [47]:
price

,index,timestamp,open,high,low,close,volume
0,0,2018-09-21 15:59:00,218.0250,218.3500,217.6400,217.6500,1657917
1,1,2018-09-21 15:58:00,217.8500,218.0400,217.7700,218.0100,488382
2,2,2018-09-21 15:57:00,217.8900,217.9400,217.7100,217.8550,330932
3,3,2018-09-21 15:56:00,217.8666,218.0900,217.8666,217.8900,395279
4,4,2018-09-21 15:55:00,217.8600,217.9000,217.6600,217.8600,443371
5,5,2018-09-21 15:54:00,217.8299,217.9425,217.8200,217.8700,294660
6,6,2018-09-21 15:53:00,217.5000,217.8600,217.5000,217.8250,321956
7,7,2018-09-21 15:52:00,217.5800,217.6350,217.4700,217.5200,195801
8,8,2018-09-21 15:51:00,217.5600,217.6650,217.4700,217.5900,339615
9,9,2018-09-21 15:50:00,217.4000,218.1000,217.3700,217.5900,931511
10,10,2018-09-21 15:49:00,217.4100,217.4400,217.3700,217.4200,145193
11,11,2018-09-21 15:48:00,217.4600,217.4600,217.3700,217.4100,156036
12,12,2018-09-21 15:47:00,217.5100,217.5500,217.3900,217.4600,140120
13,13,2018-09-21 15:46:00,217.4600,217.5450,217.3800,217.5100,165780
14,14,2018-09-21 15:45:00,217.5600,217.6400,217.4700,217.4800,251440
15,15,2018-09-21 15:44:00,217.4072,217.5600,217.3600,217.5500,153469
16,16,2018-09-21 15:43:00,217.3500,217.4100,217.2974,217.4100,178535
17,17,2018-09-21 15:42:00,217.3200,217.3752,217.2900,217.3500,164287
18,18,2018-09-21 15:41:00,217.3200,217.4000,217.3100,217.3250,144722
19,19,2018-09-21 15:40:00,217.5100,217.5500,217.3100,217.3300,198596
20,20,2018-09-21 15:39:00,217.5600,217.5600,217.5000,217.5100,128736
21,21,2018-09-21 15:38:00,217.5900,217.6300,217.5000,217.5500,221224
22,22,2018-09-21 15:37:00,217.6300,217.6400,217.5600,217.5900,153417
23,23,2018-09-21 15:36:00,217.5900,217.6900,217.5900,217.6300,155248
24,24,2018-09-21 15:35:00,217.7700,217.7700,217.5700,217.5801,142235
25,25,2018-09-21 15:34:00,217.7500,217.7898,217.7500,217.7750,136987
26,26,2018-09-21 15:33:00,217.7950,217.8000,217.7500,217.7600,119381
27,27,2018-09-21 15:32:00,217.7950,217.8700,217.7900,217.7900,120763
28,28,2018-09-21 15:31:00,217.8900,217.9000,217.7900,217.8000,132312
29,29,2018-09-21 15:30:00,217.9400,217.9800,217.8400,217.8900,131950
...,...,...,...,...,...,...,...
70,70,2018-09-21 14:49:00,218.5400,218.6050,218.5400,218.6050,34990
71,71,2018-09-21 14:48:00,218.5100,218.5800,218.5100,218.5200,30185
72,72,2018-09-21 14:47:00,218.6000,218.6000,218.5000,218.5000,43167
73,73,2018-09-21 14:46:00,218.5900,218.6300,218.5900,218.6100,36636
74,74,2018-09-21 14:45:00,218.6150,218.6300,218.5700,218.5999,37900
75,75,2018-09-21 14:44:00,218.6100,218.6300,218.5800,218.6100,27367
76,76,2018-09-21 14:43:00,218.7000,218.7000,218.6200,218.6210,52546
77,77,2018-09-21 14:42:00,218.6500,218.7500,218.6500,218.7300,43442
78,78,2018-09-21 14:41:00,218.7300,218.7300,218.6500,218.6621,67905
79,79,2018-09-21 14:40:00,218.7700,218.7700,218.7100,218.7150,26869
80,80,2018-09-21 14:39:00,218.8200,218.8700,218.7450,218.7761,49465
81,81,2018-09-21 14:38:00,218.7800,218.8400,218.7700,218.8200,25461
82,82,2018-09-21 14:37:00,218.9030,218.9100,218.8000,218.8000,43461
83,83,2018-09-21 14:36:00,218.7500,218.8999,218.7500,218.8999,62275
84,84,2018-09-21 14:35:00,218.7500,218.7900,218.7200,218.7710,38021
85,85,2018-09-21 14:34:00,218.7800,218.8025,218.7400,218.7400,32647
86,86,2018-09-21 14:33:00,218.7600,218.8000,218.7100,218.7710,52443
87,87,2018-09-21 14:32:00,218.7700,218.8450,218.7700,218.7850,27297
88,88,2018-09-21 14:31:00,218.7300,218.7700,218.7200,218.7700,25844
89,89,2018-09-21 14:30:00,218.7000,218.7599,218.6710,218.7400,41134
90,90,2018-09-21 14:29:00,218.6900,218.7600,218.6800,218.7100,45259
91,91,2018-09-21 14:28:00,218.6200,218.8230,218.6200,218.6745,71979
92,92,2018-09-21 14:27:00,218.5100,218.6000,218.4800,218.6000,39382
93,93,2018-09-21 14:26:00,218.5100,218.5100,218.4315,218.5100,39779
94,94,2018-09-21 14:25:00,218.5100,218.5600,218.4800,218.5300,34767
95,95,2018-09-21 14:24:00,218.5700,218.5900,218.5300,218.5300,31365
96,96,2018-09-21 14:23:00,218.5900,218.6095,218.5405,218.5800,26996
97,97,2018-09-21 14:22:00,218.6100,218.6100,218.5500,218.5700,39655
98,98,2018-09-21 14:21:00,218.5400,218.6800,218.5400,218.6300,36442
99,99,2018-09-21 14:20:00,218.5000,218.5600,218.4485,218.5600,33984