In [2]:
import pandas as pd

In [66]:
some_data = pd.read_csv("dataset.csv")

In [67]:
some_data

  Date@ Data1@ Data2@Data3
0         06/29/2018@2@3@4
1         06/30/2018@2@2@2
2         07/21/2018@8@8@8

In [68]:
some_data = pd.read_csv("dataset.csv",sep="@")

In [69]:
some_data

         Date   Data1   Data2  Data3
0  06/29/2018       2       3      4
1  06/30/2018       2       2      2
2  07/21/2018       8       8      8

In [70]:
some_data = pd.read_csv("dataset.csv",sep="@",index_col="Date",parse_dates=["Date"])

In [73]:
some_data

        Date   Data1   Data2  Data3
0 2018-06-29       2       3      4
1 2018-06-30       2       2      2
2 2018-07-21       8       8      8

In [74]:
some_data.Date

0   2018-06-29
1   2018-06-30
2   2018-07-21
Name: Date, dtype: datetime64[ns]