In [12]:
import pandas as pd
import pandas_datareader.data as pdr
from enum import Enum
from datetime import datetime, timedelta
import requests as re
import json
import urllib as ur

In [2]:
def get_price_data(tic_list,method,interval = 1, freq = 'minutes',start_date = datetime.now()-timedelta(days =256),end_date=datetime.now()):
    

    error = []
    price = pd.DataFrame()
    if method == "robinhood":
        robinhood = get_robinhood()

        for i in tic_list:
            trial = 0
            while trial <3:
                try:
                    temp = robinhood.get_historical(i,interval="10minute",span = "week")
                    #temp.index = temp.begins_at
                    temp = temp.drop(["session","interpolated"],axis=1)
                    for j in temp.columns[1:]:
                        temp[j] = temp[j].astype(float)
                   # index= pd.MultiIndex.from_product([[i],temp.index])
                    temp["Ticker"] = np.repeat(i,len(temp))
                    price = price.append(temp)

                    print "Finished", i
                    #time.sleep(5)
                    trial=3

                except:
                    print "error occorded in getting yahool historicals for ", i
                    trial +=1
                    time.sleep(10)
                    if trial == 3:
                        error.append([i,'get_yahoo_historicals'])
        # get rid of the multiindex
       # price.to_csv("file/temp.csv")
       # price = pd.read_csv("file/temp.csv")

        price = price.reset_index()
        price["Close"] = price["close_price"]
        price = price.rename(columns={'begins_at':"TimeStamp","high_price":"High","low_price":"Low","open_price":"Open","volume":"Volume"})
        price["Return"]= (price.Close.diff(1)/price.Close)


    elif method == "ondemand":


        #freq = minutes, daily
        save_file_name = "Trade_suggestion_ondemand"
        for i in tic_list:
            trial = 0
            while trial <3:
                try:
                    temp = get_ondemand_data(i, interval = interval , freq = freq,start_date = start_date, end_date = end_date)

                    #index= pd.MultiIndex.from_product([[i],temp.index])
                    #temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)

                    price = price.append(temp)

                    print "Finished", i
                    #time.sleep(5)
                    trial=3

                except:
                    print "error occorded in getting yahool historicals for ", i
                    trial +=1
                    time.sleep(10)
                    if trial == 3:
                        error.append([i,'get_yahoo_historicals'])


        price = price.reset_index()
        price["Close"] = price["close"]
        price = price.rename(columns={'symbol':'Ticker','timestamp':"TimeStamp","high":"High","low":"Low","open":"Open","volume":"Volume"})
        price["Return"]=( price.Close.diff(1)/price.Close)

    elif method == "day":
        save_file_name = "Trade_suggestion_day"
        mongodb = mongo()
        for i in tic_list:
            trial = 0
            while trial <3:
                try:
                    temp = mongodb.query_database(i,start_date=start_date,end_date=end_date)
                    index= pd.MultiIndex.from_product([[i],temp.index])
                    temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)
                    price = price.append(temp)
                    print "Finished", i
                    trial = 3
                except Exception as e:
                    try:
                        print (e)
                        print ("Switching from Mongodb to yahoo")
                        temp = da.DataReader(i,"yahoo",start_date ,end_date)
                        index= pd.MultiIndex.from_product([[i],temp.index])
                        temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)
                        price = price.append(temp)

                        print "Finished", i
                        #time.sleep(5)
                        trial=3


                    except Exception as e:
                        print "error occorded in getting yahool historicals for ", i
                        trial =3
                        trial +=1
                        time.sleep(10)
                    if trial == 3:
                        error.append([i,'get_yahoo_historicals'])
        # get rid of the multiindex
    elif method == "realtimeday":
        save_file_name = "Trade_suggestion_day"
        mongodb = mongo()
        for i in tic_list:
            trial = 0
            while trial <3:
                try:
                    temp = pdr.get_data_yahoo(i,start_date ,end_date)
                    index= pd.MultiIndex.from_product([[i],temp.index])
                    temp=pd.DataFrame(data=temp.values,index=index,columns=temp.columns)
                    price = price.append(temp)
                    print "Finished", i
                    trial = 3
                except Exception as e:
                    try:
                        print (e)
                        print "Finished", i
                        #time.sleep(5)
                        trial=3
                        print e

                    except Exception as e:
                        print "error occorded in getting yahool historicals for ", i
                        trial =3
                        trial +=1
                        time.sleep(10)
                    if trial == 3:
                        error.append([i,'get_yahoo_historicals'])
        price = price.reset_index()


        price["Close"] = price["Adj Close"]
        price = price.rename(columns={'level_0':'Ticker','level_1':"TimeStamp"})
        price["Return"]= (price.Close.diff(1)/price.Close)
    #price = price.dropna()
    return price

In [32]:

# tic_list,method,interval = 1, freq = 'minutes',start_date = datetime.now()-timedelta(days =256),end_date=datetime.now()

# 1min, 5min, 15min, 30min, 60min

# https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=5min&apikey=demo&datatype=csv

def get_price(tic_list,**kwargs):
    
    api = "R9KJYWUBMIDAXNW7"
    
    if len(kwargs) == 0 :
        start_date = datetime.now()-timedelta(days =256)
        end_date=datetime.now()
        data_interval="_day"
        data_size = "compact"
    
    data_interval = "_"+data_interval
    
    class interval(Enum):
        _1min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=1min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _5min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=5min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _15min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=15min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _30min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=30min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _60min = "https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={}&interval=60min&outputsize={}&apikey={}&datatype=csv".format(tic_list,data_size,api)
        _week = " https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol={}&apikey&outputsize={}=csv".format(tic_list,data_size,api)
        _month = " https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol={}&apikey={}&outputsize={}&datatype=csv".format(tic_list,data_size,api)
        
    
    if data_interval == "_day":
        
        price = pdr.DataReader(tic_list,"quandl",start,end)
        price = pdr.DataReader("AAPL","quandl")
        price = price.reset_index()
        price = price.drop(["ExDividend","SplitRatio","Open","High","Low","Close","Volume"],axis=1)
        price = price.rename(columns={'AdjOpen':'Open','AdjHigh':"High","AdjLow":"Low","AdjVolume":"Volume","AdjClose":"Close"})
        price["Return"]= (price.Close.diff(1)/price.Close)
        
    else
    
        

    
        price = 
        price = pdr.DataReader("AAPL","quandl")
        price = price.reset_index()
        price = price.drop(["ExDividend","SplitRatio","Open","High","Low","Close","Volume"],axis=1)
        price = price.rename(columns={'AdjOpen':'Open','AdjHigh':"High","AdjLow":"Low","AdjVolume":"Volume","AdjClose":"Close"})
        price["Return"]= (price.Close.diff(1)/price.Close)

SyntaxError: invalid syntax (<ipython-input-32-0be4d18f9ad0>, line 23)

In [35]:
price = pdr.DataReader("AAPL","quandl")
price = price.reset_index()
price = price.drop(["ExDividend","SplitRatio","Open","High","Low","Close","Volume"],axis=1)
price = price.rename(columns={'AdjOpen':'Open','AdjHigh':"High","AdjLow":"Low","AdjVolume":"Volume","AdjClose":"Close"})
price["Return"]= (price.Close.diff(1)/price.Close)

In [36]:
price

,Date,Open,High,Low,Close,Volume,Return
0,2018-03-27,173.680000,175.150000,166.920000,168.340000,38962839.0,NaN
1,2018-03-26,168.070000,173.100000,166.440000,172.770000,36272617.0,0.025641
2,2018-03-23,168.390000,169.920000,164.940000,164.940000,40248954.0,-0.047472
3,2018-03-22,170.000000,172.680000,168.600000,168.845000,41051076.0,0.023128
4,2018-03-21,175.040000,175.090000,171.260000,171.270000,35247358.0,0.014159
5,2018-03-20,175.240000,176.800000,174.940000,175.240000,19314039.0,0.022655
6,2018-03-19,177.320000,177.470000,173.660000,175.300000,32804695.0,0.000342
7,2018-03-16,178.650000,179.120000,177.620000,178.020000,36836456.0,0.015279
8,2018-03-15,178.500000,180.240000,178.070100,178.650000,22584565.0,0.003526
9,2018-03-14,180.320000,180.520000,177.810000,178.440000,29075469.0,-0.001177
10,2018-03-13,182.590000,183.500000,179.240000,179.970000,31168404.0,0.008501
11,2018-03-12,180.290000,182.390000,180.210000,181.720000,32055405.0,0.009630
12,2018-03-09,177.960000,180.000000,177.390000,179.980000,31385134.0,-0.009668
13,2018-03-08,175.480000,177.120000,175.070000,176.940000,23163767.0,-0.017181
14,2018-03-07,174.940000,175.850000,174.270000,175.030000,31703462.0,-0.010912
15,2018-03-06,177.910000,178.250000,176.130000,176.670000,23788506.0,0.009283
16,2018-03-05,175.210000,177.740000,174.520000,176.820000,28401366.0,0.000848
17,2018-03-02,172.800000,176.300000,172.450000,176.210000,38453950.0,-0.003462
18,2018-03-01,178.540000,179.775000,172.660000,175.000000,48801970.0,-0.006914
19,2018-02-28,179.260000,180.615000,178.050000,178.120000,33604574.0,0.017516
20,2018-02-27,179.100000,180.480000,178.160000,178.390000,38685165.0,0.001514
21,2018-02-26,176.350000,179.390000,176.210000,178.970000,36886432.0,0.003241
22,2018-02-23,173.670000,175.650000,173.540000,175.555000,33329232.0,-0.019453
23,2018-02-22,171.800000,173.950000,171.710000,172.600000,30504116.0,-0.017121
24,2018-02-21,172.830000,174.120000,171.010000,171.070000,35833514.0,-0.008944
25,2018-02-20,172.050000,174.260000,171.420000,171.850000,33531012.0,0.004539
26,2018-02-16,172.360000,174.820000,171.770000,172.430000,39638793.0,0.003364
27,2018-02-15,169.790000,173.090000,169.000000,172.990000,50609595.0,0.003237
28,2018-02-14,163.045000,167.540000,162.880000,167.370000,39669178.0,-0.033578
29,2018-02-13,161.950000,164.750000,161.650000,164.340000,32104756.0,-0.018437
...,...,...,...,...,...,...,...
2040,2010-02-16,25.952105,26.177004,25.898129,26.139735,135934400.0,0.004179
2041,2010-02-12,25.459896,25.913550,25.124475,25.751623,163867200.0,-0.015071
2042,2010-02-11,25.044796,25.670659,24.939415,25.531864,137586400.0,-0.008607
2043,2010-02-10,25.174595,25.265840,24.965118,25.075125,92590400.0,-0.018215
2044,2010-02-09,25.242708,25.381503,25.028089,25.213149,158221700.0,0.005474
2045,2010-02-08,25.148892,25.430338,24.931704,24.947126,119567700.0,-0.010664
2046,2010-02-05,24.754997,25.188732,24.526885,25.119334,212576700.0,0.006856
2047,2010-02-04,25.282547,25.493310,24.619415,24.681102,189413000.0,-0.017756
2048,2010-02-03,25.082065,25.728490,24.985680,25.603832,153832000.0,0.036039
2049,2010-02-02,25.177166,25.229856,24.852025,25.170740,174585600.0,-0.017206
2050,2010-02-01,24.722226,25.188732,24.584716,25.025519,187469100.0,-0.005803
2051,2010-01-29,25.841583,25.985518,24.449777,24.682772,311488100.0,-0.013886
2052,2010-01-28,26.336361,26.409614,25.535719,25.611543,293375600.0,0.036264
2053,2010-01-27,26.583108,27.062465,25.642514,26.715991,430642100.0,0.041340
2054,2010-01-26,26.467445,27.464714,26.034353,26.466160,466777500.0,-0.009440
2055,2010-01-25,26.025358,26.306803,25.727205,26.097968,266424900.0,-0.014108
2056,2010-01-22,26.574112,26.666642,25.337808,25.413631,220441900.0,-0.026928
2057,2010-01-21,27.255236,27.413796,26.629373,26.740152,152038600.0,0.049608
2058,2010-01-20,27.618930,27.701179,26.923670,27.209613,153038200.0,0.017254
2059,2010-01-19,26.773309,27.654914,26.633228,27.635637,182501900.0,0.015416
2060,2010-01-15,27.107445,27.193549,26.457164,26.464875,148516900.0,-0.044238
2061,2010-01-14,27.002063,27.047043,26.861983,26.914674,108223500.0,0.016712
2062,2010-01-13,26.714192,27.107445,26.229695,27.071461,151473000.0,0.005792
2063,2010-01-12,26.883831,26.958369,26.527847,26.694915,148614900.0,-0.014106
2064,2010-01-11,27.347766,27.373469,26.788730,27.002063,115557400.0,0.011375
2065,2010-01-08,27.026481,27.244955,26.867124,27.242385,111902700.0,0.008822
2066,2010-01-07,27.212826,27.244955,26.865839,27.062465,119282800.0,-0.006648
2067,2010-01-06,27.550818,27.660055,27.084312,27.112585,138040000.0,0.001849
2068,2010-01-05,27.579091,27.706320,27.405597,27.550818,150476200.0,0.015906
2069,2010-01-04,27.428730,27.566240,27.293790,27.503268,123432400.0,-0.001729