# Data Overview, Slicing and Selection

In [1]:
import pandas as pd

In [2]:
stock_data = pd.read_csv("pair_ETF_0302.csv")

When you read from raw data file, you get a Dataframe.

In [3]:
type(stock_data)

pandas.core.frame.DataFrame

# Data Overview

Get an overview of the data that you are working on. In this stage, you will focus on getting a board idea of data size, data type and information.

In [4]:
stock_data.head() #This is a function call, remember the ()

             pairs   ave_return  total_return  volatility  sharp_ratio
0  ('NYT', 'BANC') -1683.602874    -15.167593  139.660600    -0.108603
1   ('EEA', 'ESS')     7.915179      0.121772  123.131991     0.000989
2   ('BXP', 'LFC')  1194.149695     11.593686   88.070115     0.131642
3  ('PCF', 'ANIK')     2.441353      0.021605   13.484533     0.001602
4  ('NDSN', 'POL')  -293.861701     -3.719768   36.593718    -0.101650

In [5]:
stock_data.tail()

                  pairs   ave_return  total_return  volatility  sharp_ratio
58587   ('INFO', 'MYF')  1111.644206      8.964873   84.062452     0.106645
58588     ('AL', 'CSL')   917.521116      7.399364   63.715749     0.116131
58589    ('PFL', 'DSW')  -876.763054     -7.070670   49.698238    -0.142272
58590  ('HWBK', 'KRNY')  -106.253729     -0.856885   22.987587    -0.037276
58591     ('AN', 'KAP')    36.888918      0.297491    7.444777     0.039960

You can access columns the below methods

In [6]:
stock_data.pairs.head()

0    ('NYT', 'BANC')
1     ('EEA', 'ESS')
2     ('BXP', 'LFC')
3    ('PCF', 'ANIK')
4    ('NDSN', 'POL')
Name: pairs, dtype: object

In [7]:
stock_data["pairs"].head()

0    ('NYT', 'BANC')
1     ('EEA', 'ESS')
2     ('BXP', 'LFC')
3    ('PCF', 'ANIK')
4    ('NDSN', 'POL')
Name: pairs, dtype: object

You will get a data type of Series. You can view Series as a single unit of Dataframe.

In [8]:
type(stock_data["pairs"])

pandas.core.series.Series

You can access specific cell like this.

In [9]:
stock_data["pairs"][0]

"('NYT', 'BANC')"

In [10]:
type(stock_data["pairs"][0])

str

# Slicing and Selection

You can access a certain portion of data. Please remind that index starts from 0.

In [11]:
stock_data[:].head() #Showing all slices

             pairs   ave_return  total_return  volatility  sharp_ratio
0  ('NYT', 'BANC') -1683.602874    -15.167593  139.660600    -0.108603
1   ('EEA', 'ESS')     7.915179      0.121772  123.131991     0.000989
2   ('BXP', 'LFC')  1194.149695     11.593686   88.070115     0.131642
3  ('PCF', 'ANIK')     2.441353      0.021605   13.484533     0.001602
4  ('NDSN', 'POL')  -293.861701     -3.719768   36.593718    -0.101650

In [12]:
stock_data[2:].head()  #start from the 3rd row

             pairs   ave_return  total_return  volatility  sharp_ratio
2   ('BXP', 'LFC')  1194.149695     11.593686   88.070115     0.131642
3  ('PCF', 'ANIK')     2.441353      0.021605   13.484533     0.001602
4  ('NDSN', 'POL')  -293.861701     -3.719768   36.593718    -0.101650
5  ('DAKT', 'LPG')  -578.896261     -5.122976  255.150999    -0.020078
6  ('AGR', 'MXIM')  2203.294225     21.600924  163.622809     0.132017

In [13]:
stock_data[:3] #get until the 4th row

             pairs   ave_return  total_return  volatility  sharp_ratio
0  ('NYT', 'BANC') -1683.602874    -15.167593  139.660600    -0.108603
1   ('EEA', 'ESS')     7.915179      0.121772  123.131991     0.000989
2   ('BXP', 'LFC')  1194.149695     11.593686   88.070115     0.131642

In [14]:
stock_data["pairs"].head()  # Usually I use column name to access column

0    ('NYT', 'BANC')
1     ('EEA', 'ESS')
2     ('BXP', 'LFC')
3    ('PCF', 'ANIK')
4    ('NDSN', 'POL')
Name: pairs, dtype: object

# More Slicing and Selection

This doesn't work because it's accessing the index, and the Dataframe doesn't have the index named 0

In [15]:
stock_data[0]

KeyError: 0

In [16]:
stock_data.iloc[0] #But you can access nth row using .iloc[n]

pairs           ('NYT', 'BANC')
ave_return              -1683.6
total_return           -15.1676
volatility              139.661
sharp_ratio           -0.108603
Name: 0, dtype: object

In [17]:
type(stock_data.iloc[0]) #it returns a Series

pandas.core.series.Series

In [18]:
stock_data.iloc[0:2] #You can also feed a portion to .iloc and it will return Dataframe

             pairs   ave_return  total_return  volatility  sharp_ratio
0  ('NYT', 'BANC') -1683.602874    -15.167593  139.660600    -0.108603
1   ('EEA', 'ESS')     7.915179      0.121772  123.131991     0.000989

In [19]:
stock_data.loc[[1,2]] #.loc can also be feeded a list of index

            pairs   ave_return  total_return  volatility  sharp_ratio
1  ('EEA', 'ESS')     7.915179      0.121772  123.131991     0.000989
2  ('BXP', 'LFC')  1194.149695     11.593686   88.070115     0.131642

Using .loc[], you can conduct more complex selection

In [20]:
stock_data.loc[:,"pairs"].head() # .loc can also be used to access columns

0    ('NYT', 'BANC')
1     ('EEA', 'ESS')
2     ('BXP', 'LFC')
3    ('PCF', 'ANIK')
4    ('NDSN', 'POL')
Name: pairs, dtype: object

Remember to feed a list when you want to select multiple columns or rows

In [21]:
stock_data.loc[:,["pairs","total_return"]].head()

             pairs  total_return
0  ('NYT', 'BANC')    -15.167593
1   ('EEA', 'ESS')      0.121772
2   ('BXP', 'LFC')     11.593686
3  ('PCF', 'ANIK')      0.021605
4  ('NDSN', 'POL')     -3.719768

In [22]:
stock_data.loc[stock_data["ave_return"]>0].head()

             pairs   ave_return  total_return  volatility  sharp_ratio
1   ('EEA', 'ESS')     7.915179      0.121772  123.131991     0.000989
2   ('BXP', 'LFC')  1194.149695     11.593686   88.070115     0.131642
3  ('PCF', 'ANIK')     2.441353      0.021605   13.484533     0.001602
6  ('AGR', 'MXIM')  2203.294225     21.600924  163.622809     0.132017
8   ('PUK', 'UTX')   184.141559      1.629571   28.527874     0.057122

.loc is for index access, which means you should feed index or index generator into .iloc[]

In [23]:
stock_data.loc[[True,True,False]] #Boolean can be feeded into .loc, empty means false

             pairs   ave_return  total_return  volatility  sharp_ratio
0  ('NYT', 'BANC') -1683.602874    -15.167593  139.660600    -0.108603
1   ('EEA', 'ESS')     7.915179      0.121772  123.131991     0.000989

To use more complex selection, you can use lambda functions

In [24]:
stock_data.loc[lambda stock_data:stock_data["total_return"]>200000]

                  pairs    ave_return  total_return    volatility  sharp_ratio
4684     ('ITG', 'OIS')           inf           inf           NaN          NaN
12016    ('LEA', 'CTX')  1.873543e+08  1.510922e+06  1.684723e+07     0.089684
24034   ('ENVA', 'CTX')  1.718711e+08  1.386057e+06  1.537679e+07     0.090140
34122  ('TVPT', 'FULT')           inf           inf           NaN          NaN
42235    ('FOE', 'AOD')           inf           inf           NaN          NaN
42749   ('ALTR', 'EPD')           inf           inf           NaN          NaN
46295  ('FORM', 'AMSF')           inf           inf           NaN          NaN
46678     ('GS', 'ONB')           inf           inf           NaN          NaN
54771    ('NOV', 'CTX')  1.789989e+08  1.443540e+06  1.601276e+07     0.090149

# One Last Thing

As a good practice, you should always use .loc to set value. Because if you use direct access, like stock_data["pairs"], Python will return a copy of the Dataframe, which is not changeable.

In [25]:
stock_data.loc[0,"ave_return"] = 0

In [26]:
stock_data.head()

             pairs   ave_return  total_return  volatility  sharp_ratio
0  ('NYT', 'BANC')     0.000000    -15.167593  139.660600    -0.108603
1   ('EEA', 'ESS')     7.915179      0.121772  123.131991     0.000989
2   ('BXP', 'LFC')  1194.149695     11.593686   88.070115     0.131642
3  ('PCF', 'ANIK')     2.441353      0.021605   13.484533     0.001602
4  ('NDSN', 'POL')  -293.861701     -3.719768   36.593718    -0.101650

# Series & Numpy Array

Pandas's Series is internally Numpy Array. In the following demonstration, you will see if you take .values of the Series, you get an array.

In [30]:
stock_data.head()["pairs"].values

array(["('NYT', 'BANC')", "('EEA', 'ESS')", "('BXP', 'LFC')",
       "('PCF', 'ANIK')", "('NDSN', 'POL')"], dtype=object)