In [2]:
import pandas as pd
import numpy as np

Let's get a more complicated dataset to demonstrate this.

In [28]:
stock_data = pd.read_csv("price.csv")

When you deal with stock data, there are a lot of missing information and non-applicable blank cell due to time series calculation.

In [29]:
stock_data[1::10] #show every 10 rows

,TimeStamp,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
1,2017-08-21,42.439999,240.471344,-0.040407,0.000782,-51.638664,NaN,NaN,NaN,NaN,...,2.25,NaN,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN
11,2017-09-05,40.439999,243.599747,0.053065,-0.007208,-7.362025,NaN,NaN,NaN,NaN,...,2.25,NaN,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN
21,2017-09-19,34.000000,248.698792,0.000000,0.001001,0.000000,NaN,NaN,NaN,NaN,...,2.25,NaN,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN
31,2017-10-03,31.770000,251.574097,-0.002201,0.002138,-1.029481,0.025418,0.003650,-0.009652,0.001505,...,2.25,4.0,6.0,0.0,0.0,0,127.360000,1506.221010,2.991430,NaN
41,2017-10-17,28.940001,254.170822,0.003115,0.000705,4.418974,0.018260,0.002654,-0.011153,0.001416,...,2.25,7.0,6.0,0.0,0.0,0,201.950000,1523.950380,1.621813,NaN
51,2017-10-31,28.160000,255.842270,-0.018297,0.001557,-11.753868,0.018079,0.002923,-0.006282,0.000944,...,2.25,10.0,5.0,0.0,0.0,0,286.800000,1277.221525,-3.206264,NaN
61,2017-11-14,29.219999,256.419342,0.007902,-0.002325,-3.398579,0.018755,0.002857,-0.002789,0.000636,...,2.25,6.0,6.0,0.0,0.0,0,173.940000,1542.097596,-2.212097,6.537751
71,2017-11-29,26.450001,261.373993,0.022559,-0.000609,-37.052863,0.021714,0.003835,-0.002999,0.000932,...,2.25,7.0,6.0,0.0,0.0,0,181.020007,1569.199038,3.941979,20.418209
81,2017-12-13,24.290001,265.393463,-0.003698,-0.000112,32.887473,0.019714,0.003712,-0.004928,0.001222,...,2.25,10.0,5.0,0.0,0.0,0,243.799990,1327.116545,-0.868516,26.741806
91,2017-12-28,22.780001,267.869995,-0.016544,0.002055,-8.049261,0.019207,0.004124,-0.008299,0.001456,...,2.25,18.0,5.0,0.0,0.0,0,416.880000,1336.600035,-4.493227,11.372419
101,2018-01-12,21.440001,277.920013,0.000467,0.006498,0.071805,0.015537,0.003914,-0.007000,0.002046,...,2.25,33.0,3.0,0.0,0.0,0,707.190000,828.359985,7.335968,15.966303
111,2018-01-29,24.600000,284.679993,0.070300,-0.006652,-10.568356,0.022748,0.004667,0.000423,0.002338,...,2.25,16.0,4.0,0.0,0.0,0,366.880000,1146.319948,34.684380,128.527026
121,2018-02-12,39.680000,265.339996,-0.042675,0.014578,-2.927420,0.076459,0.013603,0.018499,-0.000316,...,2.25,8.0,5.0,0.0,0.0,0,331.280000,1307.500000,5.105615,196.199232
131,2018-02-27,35.119999,274.429993,0.089915,-0.012565,-7.155902,0.083809,0.014438,0.016450,-0.000421,...,2.25,9.0,5.0,0.0,0.0,0,288.899982,1389.499970,12.853637,185.643403
141,2018-03-13,33.700001,276.720001,0.021293,-0.006484,-3.284150,0.086787,0.014970,0.010492,-0.000945,...,2.25,11.0,5.0,0.0,0.0,0,362.890022,1392.599945,-1.622540,19.205717

Here's how you remove NaN easily

In [31]:
stock_data.dropna().head()

,TimeStamp,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
55,2017-11-06,27.67,257.533630,-0.009711,0.001546,-6.279378,0.017948,0.002801,-0.007150,0.001303,...,2.25,7.0,6.0,0.0,0.0,0,195.580007,1542.814086,0.202736,17.464954
56,2017-11-07,27.84,257.354553,0.006125,-0.000696,-8.805462,0.018080,0.002822,-0.006535,0.001259,...,2.25,8.0,6.0,0.0,0.0,0,221.360000,1545.201780,0.124761,17.957873
57,2017-11-08,27.85,257.792297,0.000359,0.001699,0.211317,0.018123,0.002780,-0.006336,0.001186,...,2.25,8.0,6.0,0.0,0.0,0,222.720000,1544.127318,2.705556,15.466413
58,2017-11-09,28.27,256.857086,0.014968,-0.003634,-4.118519,0.018447,0.002916,-0.005328,0.001025,...,2.25,8.0,6.0,0.0,0.0,0,222.800000,1546.753782,-2.278205,12.955763
59,2017-11-10,28.90,256.777496,0.022040,-0.000310,-71.119007,0.018901,0.002887,-0.003944,0.000898,...,2.25,6.0,6.0,6.0,6.0,1,169.620000,1541.142516,4.431253,14.117973

In [34]:
stock_data = stock_data.dropna() #Remember to set value to the original dataframe

With drop function, you can also delete a column or row. When you use, drop function, you also need to feed axis parameter to specify column or row, 1 for column, 0 for row.

In [40]:
stock_data.drop("TimeStamp",axis=1).head(2)

,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,relative_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
55,27.67,257.533630,-0.009711,0.001546,-6.279378,0.017948,0.002801,-0.007150,0.001303,6.822403,...,2.25,7.0,6.0,0.0,0.0,0,195.580007,1542.814086,0.202736,17.464954
56,27.84,257.354553,0.006125,-0.000696,-8.805462,0.018080,0.002822,-0.006535,0.001259,6.434009,...,2.25,8.0,6.0,0.0,0.0,0,221.360000,1545.201780,0.124761,17.957873

In [43]:
stock_data.drop(55,axis = 0).head(2)  # Need to feed row index into the function. Here number 55 is the index

,TimeStamp,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
56,2017-11-07,27.84,257.354553,0.006125,-0.000696,-8.805462,0.018080,0.002822,-0.006535,0.001259,...,2.25,8.0,6.0,0.0,0.0,0,221.36,1545.201780,0.124761,17.957873
57,2017-11-08,27.85,257.792297,0.000359,0.001699,0.211317,0.018123,0.002780,-0.006336,0.001186,...,2.25,8.0,6.0,0.0,0.0,0,222.72,1544.127318,2.705556,15.466413

There's also an easy way to remove duplicated rows

In [50]:
stock_data.drop_duplicates()  #if you don't feed a column name, the function will remove duplicated if it contains in any column
stock_data.drop_duplicates("TimeStamp")[::10] # feed a column name if you have a plan in mind

,TimeStamp,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
55,2017-11-06,27.670000,257.533630,-0.009711,0.001546,-6.279378,0.017948,0.002801,-0.007150,0.001303,...,2.25,7.0,6.0,0.0,0.0,0,195.580007,1542.814086,0.202736,17.464954
65,2017-11-20,27.700001,256.986420,-0.031974,0.001705,-18.753817,0.020887,0.003255,-0.004179,0.000566,...,2.25,6.0,6.0,0.0,0.0,0,171.600000,1539.291870,-2.942887,-4.442287
75,2017-12-05,26.920000,261.851563,-0.004448,-0.003603,1.234418,0.021311,0.004068,-0.002423,0.000909,...,2.25,8.0,5.0,0.0,0.0,0,216.320008,1313.983765,-6.536971,22.449532
85,2017-12-19,23.139999,267.170013,0.004331,-0.003848,-1.125524,0.020431,0.004252,-0.005960,0.001224,...,2.25,11.0,5.0,0.0,0.0,0,253.440011,1341.000060,-4.014553,18.902142
95,2018-01-04,21.820000,271.609985,-0.003203,0.004206,-0.761510,0.017165,0.004021,-0.007954,0.001845,...,2.25,21.0,4.0,0.0,0.0,0,459.689979,1081.880004,4.364823,17.903369
105,2018-01-19,22.260000,280.410004,-0.003587,0.004539,-0.790303,0.019115,0.003912,-0.006336,0.002283,...,2.25,25.0,4.0,0.0,0.0,0,558.500000,1116.560060,3.083244,52.133241
115,2018-02-02,27.309999,275.450012,0.127534,-0.022010,-5.794253,0.032916,0.006477,0.005523,0.001017,...,2.25,12.0,5.0,0.0,0.0,0,288.480012,1407.899935,13.256078,126.549627
125,2018-02-16,34.880001,273.109985,0.013857,0.000293,47.307432,0.080195,0.013886,0.015636,0.000184,...,2.25,13.0,4.0,0.0,0.0,0,447.200026,1092.119996,4.769767,192.312949
135,2018-03-05,35.869999,272.190002,-0.047635,0.011492,-4.145134,0.085138,0.014824,0.015904,-0.000992,...,2.25,9.0,5.0,0.0,0.0,0,338.579991,1345.399935,-1.415282,137.041629

# Special Values

Special Values show up when you perform complex analysis or when you download the raw dataset from the web, including inf, Nan, Null.

You can check them with the following methods

In [56]:
stock_data.isin([np.inf]).head(2) #using np.inf can feed the inf data type value into the function

,TimeStamp,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
55,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [63]:
stock_data.isin(["2017-11-06"]).head(2) #You can also feed in any thing
#but need to feed a list

,TimeStamp,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
55,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

To check NaN/Nan, use...

In [66]:
stock_data.isna().head(2)

,TimeStamp,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
55,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Use .isnull() to check Null, which shows up very often in web downloaded dataset

In [67]:
stock_data.isnull().head(2)

,TimeStamp,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
55,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Pay attention when you use them, if you just feed them into index selection, here's what happen.

In [69]:
stock_data[stock_data.isna()].head()  #it return a wired dataframe

,TimeStamp,VIXY_close,SPY_close,VIXY_log_ret,SPY_log_ret,relative,VIXY_volatility,SPY_volatility,VIXY_log_ret_mv,SPY_log_ret_mv,...,sell_line,VIXY_suggest_shares,SPY_suggest_shares,VIXY_shares,SPY_shares,trade,VIXY_value,SPY_value,p_L,rolling_p_L
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
stock_data.loc[stock_data.isna()] #and this give you an error

ValueError: Cannot index with multidimensional key

So, when you use those methods to select, pick a column

In [ ]:
stock_data