In [2]:
import pandas as pd

In [3]:
stock_data = pd.read_csv("pair_ETF_0302.csv")

In [20]:
some_data = pd.read_csv("dataset.csv")

In [21]:
some_data

  Date@ Data1@ Data2@Data3
0          2018-6-30@2@3@4
1          2018-6-31@2@2@2
2          2018-7-21@8@8@8

In [23]:
some_data = pd.read_csv("dataset.csv",sep="@")